.map-wrapper {
  height: 320px;
  width: 100%;
  position: relative;
  border-radius: var(--radius);
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: var(--radius);
}

.custom-marker {
  background: transparent !important;
  border: none !important;
}

.user-location-marker {
  background: transparent !important;
  border: none !important;
}

/* Планшеты */
@media (min-width: 720px) {
  .map-wrapper {
    height: 380px;
  }
}

/* Desktop/Web */
@media (min-width: 1024px) {
  .map-wrapper {
    height: 620px;
  }
}

