.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Адаптивные стили */
@media (max-width: 1024px) {
  .App {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .App {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .App {
    font-size: 13px;
  }
}

